axios 
react-router-dom 
react-bootstrap 
bootstrap 
tailwindcss 
postcss 
autoprefixer
date-fns
js-cookie


/npm install axios react-router-dom react-bootstrap bootstrap -D tailwindcss postcss autoprefixer date-fns

